<div class="print-header clear">
	<div>
		<button type="button" class="print-button">{{t "print"}}</button>
	</div>
</div>

<div class="print-top">
	<div class="clear">
		<em>{{t "expense_report_date_label"}} {{{currentDate}}}</em>
	</div>
</div>
