<div id="advertising_728" class="ads"></div>
<div id="advertising_320" class="ads"></div>

{{view "shared/header"}}

<div class="view-container">

	<section class="panel">
		{{view "shared/nav"}}
		{{view "shared/itinerary_search"}}
		<div id="advertising_300" class="ads"></div>
	</section>

	<div class="view">
		<section class="map-container">
			<div class="map">
				<div class="logo logo-small"></div>
			</div>
		</section>
	</div>

</div>

{{view "shared/footer"}}

<div class="overlay"></div>
